services:
  mariadb:
    image: mariadb:11.4
    container_name: pengerjaan-db
    restart: unless-stopped

    environment:
      MARIADB_ROOT_PASSWORD: rootpassword
      MARIADB_DATABASE: app_db
      MARIADB_USER: app_user
      MARIADB_PASSWORD: app_password

    ports:
      - "3306:3306"

    volumes:
      - pengerjaan_data:/var/lib/mysql

volumes:
  pengerjaan_data:
